<!DOCTYPE html>
<html>

<head>
    <title>Главная</title>
</head>

<body>
    <div class="container">
        <form action="/display" method="post">
            <input type="submit" value="Отправить запрос">
        </form>

        <div>
            <a href="/phone_form">Проверить номер</a>
        </div>
    </div>

    <style>
        .container {
            text-align: center;
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    </style>
</body>

</html>