@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,500;1,700;1,900&display=swap');



@media print {
  
    header {
        visibility: hidden;
    }
    
    .nav-link {
        color: white;
        text-decoration: none;
    }
    

    
    .btn-block {
        visibility: hidden;
    }
    
    .btn-link {
        visibility: hidden;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
    .container-one {
        display: flex;
        justify-content: center;
        background-image: url(../assets/img/first.webp);
        background-size: cover;
        width: 45%;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    .container-two {
        display: flex;
        justify-content: center;
        background-image: url(../assets/img/22e47dfb9172db6f7f149e99dadc041d.jpeg);
        background-size: cover;
        width: 45%;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    #text-two {
        color: black;
    }
    
    .text-item {
        width: 90%;
        text-align: start;
    }
    
    .text {
        color: black;
    }
    
    .img-item {
        border-radius: 15px;
    }
    
    
    body {
        background: #1c1c1c;
        font-family: 'Roboto', sans-serif;
    }
    
    @media(max-width:800px){
        .block-main {
            display: flex;
            flex-direction: row;
        }
    
        .block {
            font-size: small;
            height: max-content;
            width: 45%;
        }
    }
    
    .block-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .game-img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .description {
        width: 40%;
        color: black;
        background-color: #1f1e1c;
        border-radius: 10px;
        margin: 1%;
        border: solid white 0.5px;
    }
    
    .block {
        width: 25%;
        color: black;
        background-color: #1f1e1c;
        border-radius: 10px;
        margin: 1%;
        border: solid white 0.5px;
    }
    

    
  }
